/*
CSS style declarations go in here
*/

ul {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
 }
li {
    margin-left: 0;
    padding: 10px 15px;
    list-style: none;
    display: inline-block;
}